/* You can add global styles to this file, and also import other style files */
.dark-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: #181818 !important;
  border-radius: 12px !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5) !important;
}

.mat-mdc-form-field-subscript-wrapper,
.mdc-line-ripple,
.mat-mdc-form-field-focus-overlay {
  display: none !important;
}

.mat-mdc-dialog-surface,
.mdc-dialog__surface {
  outline: none !important;
}

.dark-dialog .mat-mdc-dialog-container {
  --mdc-dialog-container-color: #181818;
}

:host {
  display: block;
  color: #fff;
  padding: 20px;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

body {
background-color: rgb(237, 233, 233);
  color: #e0e0e0;           
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}